@import "nullstyle.scss";

@import "board_style.css";

body {
  background-image: url("../img/background/background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;

  .game {
    font-size: 20px;
    width: 70%;
    height: 100%;
    padding-left: 40px;

    margin: 0 auto;

    display: flex;
    flex-direction: column;
    background-color: black;

    #game__message{
      text-align: center;
      font-size:3em;
      height: 1em;
      margin-bottom: 10px;
    }
  }

  .game__gameZone{
    display: flex;
    margin: 0 auto;

    div .game__turn{
      display: flex;
      margin: 10px auto;
      width: 60%;
    }

    div .game__AddMenu{
      display: flex;
      margin: 10px auto;
      flex-direction: column;

      .AddMenu__PieceConfig{
        display: flex;
        margin: 10px auto;

        .AddMenu__Color{
          padding-right: 25px;
        }
      }

      .AddMenu__Preview{
        margin: 5px auto;
      }

      .AddMenu__Coordinates{
        text-align: center;

        .Coordinates__Input{
          margin: auto;
          width: 10%;
        }
      }
    }
  }

  color: red;
}







$turnBlockSize: 3em;
.game__turn {
  .turn {
    height: $turnBlockSize;
    width: $turnBlockSize;
  }
}

//make resize
.game__chess-board {
  height: 50em;
  width: 50em;
}


.turn__black {
  background-color: black;
  border: solid 1px white;
}

.turn__white {
  background-color: azure;
  border: solid 5px green;
}

input {
  font-size: 1em;
  color:red;
}
